*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Fira Sans', sans-serif;
  background-color: #c40505; }

.section-main {
  padding: 3rem; }

.img__container {
  width: 10rem; }
  .img__container--pic {
    width: 100%; }

.navbar-dark .navbar-nav .nav-link {
  font-size: 1.6rem;
  padding: 0 2rem;
  color: white; }

.club-name {
  display: inline-block;
  font-size: 2rem; }

.footer {
  display: flex;
  justify-content: center;
  align-items: center; }

.icon {
  height: 5rem;
  width: 5rem;
  margin: 2rem; }

.title {
  height: 100vh; }

.box-news {
  background-color: white;
  height: 86vh;
  margin: 2rem;
  background-position: center;
  background-size: cover;
  font-size: 3rem;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.6);
  border-radius: 1rem; }

.box-next {
  background-color: white;
  height: 40vh;
  margin: 2rem;
  color: white;
  font-size: 3rem;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.6);
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }

.box-table {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  height: 40vh;
  margin: 2rem;
  background-color: #fff;
  color: white;
  font-size: 3rem;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.6);
  border-radius: 1rem; }

.next-game {
  width: 85%;
  height: 85%; }

.footer {
  background-color: #000;
  height: 20rem; }
