.title {
    height: 100vh;
    // background-image: url("../../img/thomas-serer-r-xKieMqL34-unsplash.jpg");
    // background-position: center;
    // background-size: cover;
}

.box-news {
    background-color: white;
    height: 86vh;
    // width: 40vh;
    margin: 2rem;
    // background-image: url("../../img/thomas-serer-r-xKieMqL34-unsplash.jpg");
    background-position: center;
    background-size: cover;
    font-size: 3rem;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, .6);
    border-radius: 1rem;
}

.box-next {
    background-color: white;
    height: 40vh;
    // width: 40vh;
    margin: 2rem;
    color: white;
    font-size: 3rem;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, .6);
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-table {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 40vh;
    // width: 40vh;
    margin: 2rem;
    background-color:#fff;
    color: white;
    font-size: 3rem;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, .6);
    border-radius: 1rem;
}

.next-game {
    width: 85%;
    height: 85%;
}

.footer {
    background-color: #000;
    height: 20rem;
} 

