.title {
    height: 100vh;
    // background-image: url("../../img/thomas-serer-r-xKieMqL34-unsplash.jpg");
    // background-position: center;
    // background-size: cover;
}

.box {
    background-color: white;
    height: 40vh;
    width: 40vh;
    margin: 2rem;
    background-image: url("../../img/thomas-serer-r-xKieMqL34-unsplash.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    font-size: 3rem;
}

.footer {
    background-color: #000;
    height: 20rem;
}