.img__container {
    width: 10rem;

    &--pic {
        width: 100%;

    }
}

.navbar-dark {


    .navbar-nav {

        .nav-link {

            font-size: 1.6rem;
            padding: 0 2rem;
            color: white;
            // text-transform: uppercase;
        }
    }
}

.club-name {
    display: inline-block;
    font-size: 2rem;

}